.advantages {
  text-align: center;
  padding-top: 32px;
  counter-reset: css-counter 0;
}

.advantages__text-wrapper {
  @media (min-width: $tablet-width) {
    min-height: 206px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 256px;
    align-items: center;
  }
}

.advantages__item img {
  object-fit: cover;
}

.advantages__subtitle {
  font-size: 18px;
  line-height: 26px;
  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item--city {
  background-color: $basic-blue;
  color: $basic-white;
  line-height: 0;
  grid-column: span 3;
}

.advantages__item--bridge {
  line-height: 0;
  flex-direction: row-reverse;
  background-color: $basic-blue;
  color: $basic-white;
  grid-column: span 3;
}

.advantages__item-info {
  padding-top: 36px;
  padding-bottom: 40px;
  line-height: 21px;
  @media (min-width: $tablet-width) {
    padding: 44px;
  }
}

.advantages__item--recommendations {
  grid-column: span 3;
}

.recommendations__list {
  list-style: none;
  padding: 0;
  padding-top: 18px;
  padding-left: 69px;
  padding-right: 30px;
  text-align: left;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 330px;
    padding: 0;
  }
}

.recommendations__item {
  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 60px;
  }
}

.recommendations__subtitle {
  position: relative;
  font-size: 18px;
  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: center;
  }

  &::before {
    content: "";
    display: block;
    width: 39px;
    height: 37px;
    position: absolute;
    left: -50px;
    top: -10px;
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      top: -90px;
      width: 75px;
      height: 75px;
    }
  }
}

.recommendations__description {
  font-size: 14px;
}

.recommendations__item--housing {
  order: 0;
}

.recommendations__item--food {
  order: 1;
}

.recommendations__item--souvenirs {
  order: 2;
}

.recommendations__item--food .recommendations__subtitle {
  &::before {
    background-image: url("../../img/icon-burger.svg");

    @media (min-width: $tablet-width) {
      background-size: 76px 68px;
      top: -85px;
      left: calc(50% - 34px);
    }
  }
}

.recommendations__item--housing .recommendations__subtitle {
  &::before {
    background-image: url("../../img/icon-house.svg");

    @media (min-width: $tablet-width) {
      background-size: 75px 72px;
      left: calc(50% - 36px);
    }
  }
}

.recommendations__item--souvenirs .recommendations__subtitle {
  &::before {
    background-image: url("../../img/icon-gift.svg");
    height: 39px;

    @media (min-width: $tablet-width) {
      height: 75px;
      left: calc(50% - 37px);
      background-size: 64px 75px;
    }
  }
}

.advantages__item--feature {
  background-color: $basic-grey;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 28px;
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.advantages__item--feature .advantages__item-info {
  padding: 0;
  @media (min-width: $tablet-width) {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.advantages__item-header {
  margin: 0;
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__item-description {
  margin: 0;
  counter-increment: css-counter 1;
  &::before {
    content: "— №" counter(css-counter) " —";
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
