.intro {
  background-image: url('../../img/back-desktop.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 158px;
  display: flex;
  align-items: center;
  @media (min-width: $tablet-width) {
    min-height: 290px;
  }
  &::after {
    content: "";
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: 0px;
    background-image: url('../../img/intro-triangle.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.intro--index {
  background-image: url('../../img/back-mobile.jpg');
  height: 390px;
  background-position: center;
  @media (min-resolution: 2dppx) {
    background-image: url("../../img/back-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    height: 518px;
    background-image: url('../../img/back-desktop.jpg');
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.webp");
    }
  }
}

.intro__text {
  margin-left: auto;
  margin-right: auto;
  display: block;

  @media (min-width: $tablet-width) {
    height: 77px;
    width: 457px;
  }
}

.intro__text--main {
  @media (min-width: $tablet-width) {
    height: 350px;
    width: 461px;
  }
}
