.media {
  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.media__text-wrapper {
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid #E5E5E5;
  @media (min-width: $tablet-width) {
    min-height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.media__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.media__description-text {
  line-height: 24px;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
}

.media__info {
  box-sizing: border-box;
  position: relative;
  min-height: 112px;
  padding-top: 11px;
  @media (min-width: $tablet-width) {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;;
    background-color: #F2F2F2;
  }
  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    color: $basic-white;
  }
}

.media__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.media__item {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
  line-height: 0;
  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.media__item--first {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
  @media (min-width: $desktop-width) {
    grid-column: span 3;
  }
}

.media__title {
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.media__author {
  text-transform: none;
  line-height: 24px;
  margin: 0;
}

.media__liked {
  font-weight: 700;
  margin-top: 8px;
  line-height: 24px;
  padding-left: 37px;
  cursor: pointer;
  transition: all 0.4s;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    min-width: 35px;
    text-align: left;
    margin: 0;
  }

  &::before {
    content: "";
    width: 39px;
    height: 37px;
    position: absolute;
    left: 0px;
    top: 65px;
    background-image: url("../img/like-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      left: auto;
      right: 50px;
      top: calc(50% - 12px);
    }
    @media (min-width: $desktop-width) {
      background-image: url("../img/like-icon-white.svg");
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.media__photo {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  @media (min-width: $desktop-width) {
    margin-bottom: -81px;
  }
}
