.site-list {
  width: 100%;
}

.site-list__item {
  display: inline-block;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    width: 20%;
  }

  .site-list__item:nth-child(2) {
    margin-right: 18%;
  }
}
