.social__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.social__link {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: $basic-blue;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;

  &:hover {
    background-color: $hover-blue;
  }

  &:active {
    background-color: $active-blue;
  }
}

.social__link--twitter {
  background-image: url("../../img/icon-twitter.svg");
}

.social__link--facebook {
  background-image: url("../../img/icon-facebook.svg");
}

.social__link--youtube {
  background-image: url("../../img/icon-youtube.svg");
}

