$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #eeeeee;
$basic-blue: #81B3D2;
$hover-blue: #669EC0;
$active-blue: #5496BD;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
